.menu {
  overflow: visible;
  fill: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 40px rgba(16, 27, 79, 0.2);
}
.menu .item {
  margin-bottom: -20px;
  position: relative;
}
.shape {
  width: 60.6px;
  height: 60px;
  margin-top: 15px;
  position: relative;
}
.Rectangle {
  width: 60.6px;
  height: 60px;
  position: absolute;
  left: 1.25rem;
  border-radius: 9px;
  background-color: rgba(77, 104, 193, 1);
  opacity: 0.1;
}
.menu .item a:hover .shape .Rectangle {
  background-color: #1fca74;
  opacity: 1;
}
.menu .item a:hover .textHome {
  color: #fff;
  opacity: 1;
}

.textHome {
  position: absolute;
  opacity: 0.2;
  top: 0%;
  left: 1.45em;
  white-space: nowrap;
  text-align: center;
  font-family: AvenirNext-DemiBold;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(77, 104, 193, 1);
  padding-top: 7px;
}
.menu a:hover {
  text-decoration: none;
}

.menu .item2 {
  margin-top: 3em;
  position: relative;
}
.shapeIcon {
  position: absolute;
  opacity: 0.7;
  color: rgba(16, 27, 79, 0.51);

  top: 23%;
  left: 62%;
}
.menu .item2 a:hover .shapeIcon {
  color: #fff;
  opacity: 1;
}
.textItem {
  top: 70px;
  position: absolute;
  overflow: visible;
  width: 6rem;
  white-space: nowrap;
  text-align: center;
  font-family: AvenirNext-Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(155, 155, 155, 1);
  margin-bottom: 10px;
}

.Icon {
  top: 1.2em;
  position: absolute;
  font-size: 12px;
  left: 2.9em;
  width: 50px;
  height: 50px;
}
#Icon {
  opacity: 0.7;
  fill: rgba(16, 27, 79, 0.51);
  width: 100px;
}
.btnChat {
  cursor: pointer;
}
#Page_1 {
  position: absolute;
  width: 34.256px;
  height: 29.48px;
  left: 2rem;
  top: 16.609px;
  overflow: visible;
}
#Fill_1_cf {
  /* fill: rgba(255, 255, 255, 1); */
  opacity: 0.7;
  fill: rgba(16, 27, 79, 0.51);
}
.Fill_1_cf {
  overflow: visible;
  position: absolute;
  width: 34.256px;
  height: 29.48px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Fill_4 {
  fill: rgba(237, 239, 248, 1);
}
.Fill_4 {
  overflow: visible;
  position: absolute;
  width: 3.766px;
  height: 3.729px;
  left: 7.322px;
  top: 9.845px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Fill_6 {
  fill: rgba(237, 239, 248, 1);
}
.Fill_6 {
  overflow: visible;
  position: absolute;
  width: 3.766px;
  height: 3.729px;
  left: 15.245px;
  top: 9.845px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Fill_8 {
  fill: rgba(237, 239, 248, 1);
  /* fill: rgba(77, 104, 193, 1); */
}
.Fill_8 {
  overflow: visible;
  position: absolute;
  width: 3.766px;
  height: 3.729px;
  left: 23.168px;
  top: 9.845px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
#Oval_cm {
  opacity: 0.7;
  fill: rgba(16, 27, 79, 0.51);
}
.Oval_cm {
  position: absolute;
  overflow: visible;
  width: 34.34px;
  height: 34px;
  left: 31.546px;
  top: 13px;
}

#Page_1_co {
  position: absolute;
  width: 18.064px;
  height: 14.681px;
  left: 39.627px;
  top: 22.904px;
  overflow: visible;
}
#Fill_4_cp {
  fill: rgba(237, 239, 248, 1);
}
.Fill_4_cp {
  overflow: visible;
  position: absolute;
  width: 18.064px;
  height: 14.681px;
  left: 0px;
  top: 0px;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.menu .item2 a:hover .shape .Rectangle {
  background-color: #1fca74;
  opacity: 1;
}
.menu .item2 a:hover #Icon {
  fill: #fff;
  opacity: 1;
}
.menu .item2 a:hover #Page_1 #Fill_1_cf {
  opacity: 1;
  fill: #fff;
}
.menu .item2 a:hover #Page_1 .Fill_4 #Fill_4 {
  fill: rgba(77, 104, 193, 1);
}
.menu .item2 a:hover #Page_1 .Fill_6 #Fill_6 {
  fill: rgba(77, 104, 193, 1);
}
.menu .item2 a:hover #Page_1 .Fill_8 #Fill_8 {
  fill: rgba(77, 104, 193, 1);
}

.activeShape .shape .Rectangle {
  background-color: #1fca74;
  opacity: 1;
}
.activeShape #Icon {
  fill: #fff;
  opacity: 1;
}
.activeShape #Page_1 .Fill_1_cf #Fill_1_cf {
  opacity: 1;
  fill: #fff;
}
.activeShape #Page_1 .Fill_4 #Fill_4 {
  fill: rgba(77, 104, 193, 1);
}
.activeShape #Page_1 .Fill_6 #Fill_6 {
  fill: rgba(77, 104, 193, 1);
}
.activeShape #Page_1 .Fill_8 #Fill_8 {
  fill: rgba(77, 104, 193, 1);
}
.activeShape .Oval_cm #Oval_cm {
  opacity: 1;
  fill: #fff;
}
.activeShape #Page_1_co .Fill_4_cp #Fill_4_cp {
  fill: #1fca74;
}
.activeShape .textHome {
  opacity: 1;
  color: #fff;
}
